<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer blog-footer" th:fragment="footer-fragment">
    <div class="blog-text-center">
        &copy;
        <a th:text="${configurations.get('footerAbout')}">My singal blog.</a>  &nbsp;   • &nbsp;
        Powered by <a href="https://github.com/qq979249745" target="_blank" th:text="${configurations.get('footerCopyRight')}">2019 DLBJ</a><br/>
        ICP <a th:text="${configurations.get('footerICP')}">浙ICP备 xxxxxx-x号</a>
        <span class="ft-warn">&heartsuit;</span>
        Theme <a rel="friend" href="https://github.com/spiritree/typecho-theme-amaze" target="_blank"> Amaze</a> by <a href="https://github.com/spiritree" target="_blank">spiritree</a> & <a href="https://github.com/qq979249745" target="_blank">东篱把酒</a>
    </div>
</footer>
</html>